beautifulsoup4==4.9.3
blinker==1.4
certifi==2020.12.5
chardet==4.0.0
click==8.0.0
colorama==0.4.4
DBUtils==2.0.1
Flask==2.0.0
Flask-Cors==3.0.10
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
pycryptodome==3.10.1
pycryptodomex==3.10.1
PyMySQL==1.0.2
python-logstash==0.4.6
qcloud-cmq-sdk-py3==0.1
requests==2.25.1
sentry-sdk==1.1.0
six==1.16.0
soupsieve==2.2.1
urllib3==1.26.4
Werkzeug==2.0.1
